{erl_opts, [
    debug_info,
    warn_unused_vars,
    warn_unused_import,
    warn_shadow_vars
]}.

{deps, [
    {cowboy, "2.10.0"},
    {jiffy,  "1.1.1"},

    %% ScyllaDB / Cassandra native-protocol client (pure Erlang, no JVM)
    {marina, {git, "https://github.com/lpgauth/marina.git", {branch, "master"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps,   [himap_hann]}
]}.

{relx, [
    {release, {himap_hann, "0.1.0"}, [himap_hann, sasl]},
    {mode, dev},
    {sys_config, "config/sys.config"}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]},
        {deps,     [{proper, "1.4.0"}]}
    ]}
]}.
